# 参考：
# Clion中OpenOCD结合SEGGER RTT高速输出调试信息：https://blog.csdn.net/qq_47288055/article/details/143437171

source [find interface/cmsis-dap.cfg]
transport select swd

source [find target/py32f403.cfg]
adapter speed 1000

init
rtt setup 0x20000000 0x10000 "SEGGER RTT"
rtt start
rtt server start 2568 0
